* {
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.barra-pesquisa {
  overflow: hidden;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & input {
    width: 80%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 8px;
  }

  & .icon {
    cursor: pointer;
    width: 10%;
    height: auto;
    padding: 5px;
    transition: transform 0.1s ease-in-out;
  }
  
  .icon:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
  }
}

h2 {
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.post {
  margin-bottom: 30px;
}

.post .user-post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: white;
}

.post .user-post img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.post .user-post h3 {
  cursor: pointer;
}

.img-post img {
  max-width: 100%;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px;
  color: white;
}

.buttons div {
  display: flex;
}

.buttons .icon {
  cursor: pointer;
  width: 25px;
  height: auto;
}

.descricao {
  color: white;
  padding: 5px;
  align-items: justify;
  width: 400px;
}

.buttons div {
  overflow: hidden;
  width: 55px;
}

.buttons div p {
  width: 30px;
}

.buttons .icon {
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 5px;
  transition: transform 0.1s ease-in-out;
}

.buttons .icon:hover {
  transform: scale(1.1); /* Aumenta a imagem em 10% */
}

.notimg {
  display: none;
}