* {
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.barra-pesquisa {
  overflow: hidden;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & div {
    position: relative;
    width: 80%;
    overflow: hidden;

    & input {
      width: 100%;
      padding: 10px;
      padding-right: 40px;
      border: 2px solid #ccc;
      border-radius: 8px;
      outline: none;
      font-size: 16px;
      transition: border-color 0.3s;
    }

    & input:focus {
      border-color: #037319;
    }

    & .icon {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      border: none;
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;
      width: 12%;
      transition: transform 0.1s ease; 
    }

    & .icon:hover {
      transform: translateY(-50%) scale(1.1);
    }
  }

  & .icon {
    cursor: pointer;
    width: 10%;
    height: auto;
    padding: 5px;
    transition: transform 0.1s ease-in-out;
  }

  .icon:hover {
    transform: scale(1.1); 
  }
}

h2 {
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.post {
  margin-bottom: 30px;
}

.post .user-post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: white;
}

.post .user-post img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.post .user-post h3 {
  cursor: pointer;
}

.img-post img {
  max-width: 100%;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px;
  color: white;
}

.buttons div {
  display: flex;
}

.buttons .icon {
  cursor: pointer;
  width: 25px;
  height: auto;
}

.descricao {
  color: white;
  padding: 5px;
  align-items: justify;
  width: 400px;
}

.buttons div {
  overflow: hidden;
  width: 55px;
}

.buttons div p {
  width: 30px;
}

.buttons .icon {
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 5px;
  transition: transform 0.1s ease-in-out;
}

.buttons .icon:hover {
  transform: scale(1.1); /* Aumenta a imagem em 10% */
}

.notimg {
  display: none;
}
